<!DOCTYPE html>
<html>
  <head>
    <title>File-Upload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="header">
      <p class="top">File-Upload Example</p>
      <p class="bottom">Upload an audio file to Max!</p>
    </div>
    <div id="content">
      <div id="main-text">
        Upload Status:
        <p><%- status %></p>
        <p><a href="/">Return to main form</a></p>
      </div>
    </div>
  </body>
</html>
