<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CORS Service Example</h1>
    <hr>
    <p>
      If you got to this page, you aren't doing it right! This example
      shows how to handle a webpage directly accessing a service from
      your Node for Max application. To correctly run this example, do
      the following steps:
    </p>
    <ol>
      <li>Launch the <i>cors-service.maxpat</i> Max patch.</li>
      <li>(First time) Click the [script npm install] message to load
        the required libraries and packages.</li>
      <li>Click the [script start] message to start the Node process.</li>
      <li>Load the <i>testpage.html</i> page into a browser. You can
        normally do that by double-clicking on the file in your
        computer's file browser.</li>
      <li>If things are running correctly, you should see the results
        in your browser window. If not, check the Max window for errors.</li>
    </ol>
  </body>
</html>
