h1 {
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

body {
  padding: 50px;
  font: 1.5em "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
    border: 1px solid black;
}

a {
  color: #00B7FF;
}
