<!DOCTYPE html>
<html>
  <head>
    <title>Max Data</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>Max Data:</h1>
    <p><%- html %></p>
    <a href='#' onclick="goBack()">Return</a>

    <script>
    function goBack() {
        window.history.back();
    }
    </script>
  </body>
</html>
